[submodule "hardware-wallet"]
	path = hardware-wallet
	url = https://github.com/lnbits/hardware-wallet
[submodule "bitcoinswitch"]
	path = bitcoinswitch
	url = https://github.com/lnbits/bitcoinswitch
	branch = webserial
[submodule "lnpos"]
	path = lnpos
	url = https://github.com/lnbits/lnpos
