[submodule "hardware-wallet"]
	path = hardware-wallet
	url = https://github.com/lnbits/hardware-wallet
[submodule "lnpos"]
	path = lnpos
	url = https://github.com/lnbits/lnpos
[submodule "bitcoinSwitch"]
	path = bitcoinSwitch
	url = https://github.com/motorina0/bitcoinSwitch.git
	branch = fix_download_from_device
